body {
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 17px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

span.field-validation-error {
    color: red;
    font-weight: bold;
}


/*Bootstrap override*/

.navbar-inverse {
    background-color: #ff4342;
    border-color: #ff4342;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
    }

    .navbar-inverse .navbar-brand {
        color: #fff;
    }

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    border-radius: 8px;
    padding: 3px 15px;
}

.form-control:hover, 
.form-control:focus {
    border-color: #428bca;
    box-shadow: none;
}

#btnSave {
    padding: 6px 25px;
    font-size: 17px;
}

.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: rgba(255,67,66,0.55);
}

.dropdown-menu{
    box-shadow: none;
    -webkit-box-shadow: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #ff4342;
}

.navbar-brand {
    font-size: 20px;
    font-weight: 700;
}


/*Site stylies index*/
.gigs > li{
    list-style-type: none;
    position: relative;
    margin-bottom: 30px;
}

    .gigs > li .date {
        background: #ff4342;
        color: white;
        text-align: center;
        width: 60px;
        border-radius: 8px;
    }

        .gigs > li .date .day {
            background: #f7f7f7;
            color: #333333;
            font-size: 20px;
        }

.gigs > li .date .month {
    text-transform: uppercase;
    font-size: 14px;
    padding: 3px 6px;
}

.gigs > li .details{
    position: absolute;
    top: 0px;
    left: 75px;
    min-width: 155px;
}

.gigs > li .details .artist{
    font-weight: bold;
    display:block;
}

    .gigs > li .details .genre {
        font-size:16px;
    }
